doctype html
//if lt IE 7
  html.no-js.ie6.oldie(lang='en')
//if IE 7
  html.no-js.ie7.oldie(lang='en')
//if IE 8
  html.no-js.ie8.oldie(lang='en')
// Consider adding an manifest.appcache: h5bp.com/d/Offline
// [if gt IE 8] <!
html.no-js(lang='en')
  // <![endif]
  head
    title= title
    meta(name='description' content='#{ description }')
    meta(name='keywords' content='#{ keywords }')

    meta(name='author' content='#{ author }')

    //- Schema.org markup for Google+
    meta(itemprop='name' content='#{ nameGoogle }')
    meta(itemprop='description' content='#{ descriptionGoogle }')
    meta(itemprop='image' content='#{ imageGoogle }')

    //- Twitter Card data
    meta(name='twitter:card' content='#{ cardTwitter }')
    meta(name='twitter:site' content='#{ siteTwitter }')
    meta(name='twitter:creator' content='#{ creatorTwitter }')
    meta(name='twitter:title' content='#{ titleTwitter }')
    meta(name='twitter:description' content='#{ descriptionTwitter }')
    meta(name='twitter:image' content='#{ imageTwitter }')

    //- Open Graph data
    meta(property='og:title' content='#{ titleFacebook }')
    meta(property='og:site_name' content='#{ site_nameFacebook }')
    meta(property='og:type' content='#{ typeFacebook }')
    meta(property='og:url' content='#{ urlFacebook }')
    meta(property='og:description' content='#{ descriptionFacebook }')
    meta(property='og:image' content='#{ imageFacebook }')
    meta(property='og:site_name' content='#{ site_nameFacebook }')
    meta(property='og:app_id' content='#{ app_idFacebook }')

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='apple-itunes-app', content='app-id=885856031')
    meta(name='viewport', content='width=device-width, maximum-scale=1')
    link(rel='shortcut icon', type='image/x-icon', href='/favicon.ico')
    link(rel='apple-touch-icon', href='/images/astrocoders-apple.png')

    link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet" type='text/css')
    link(href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/css/app.css')

    script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js')

  body
    if current.path[0] === 'index'
      != partial("/_shared/header")
    else
      span

    != yield
